In [6]:
#Start by importing the libraries
import pandas as pd
import os

In [8]:
# C0hecking the local directory}
current_directory = os.getcwd()
files = os.listdir(current_directory)
print("We are working on this directory: ", current_directory)
print('-'*50)
print("We've found these files: ", files)

We are working on this directory:  p:\Python - Projetos\projetoPessoal
--------------------------------------------------
We've found these files:  ['.git', 'duvidasMario.ipynb', 'freights_database.xlsx']

In [10]:
df = pd.read_excel('freights_database.xlsx', sheet_name='PÃ¡gina1')
df.head(5)

               From Loc Poroduct/ Barcode      Date
0  03-07 Weedon Trailer         16AF802CP 2024-05-01
1  03-07 Weedon Trailer         16AF802CP 2024-05-02
2  03-07 Weedon Trailer         16AF802CP 2024-05-06
3  03-07 Weedon Trailer         16AF802CP 2024-05-07
4  03-07 Weedon Trailer         16AF802CP 2024-05-03

In [16]:
df['counting'] = 1

In [18]:
df.head(5)

               From Loc Poroduct/ Barcode      Date   contagem  counting
0  03-07 Weedon Trailer         16AF802CP 2024-05-01         1         1
1  03-07 Weedon Trailer         16AF802CP 2024-05-02         1         1
2  03-07 Weedon Trailer         16AF802CP 2024-05-06         1         1
3  03-07 Weedon Trailer         16AF802CP 2024-05-07         1         1
4  03-07 Weedon Trailer         16AF802CP 2024-05-03         1         1

In [20]:
df = df.drop(columns=['contagem'])
df.head(4)

               From Loc Poroduct/ Barcode      Date   counting
0  03-07 Weedon Trailer         16AF802CP 2024-05-01         1
1  03-07 Weedon Trailer         16AF802CP 2024-05-02         1
2  03-07 Weedon Trailer         16AF802CP 2024-05-06         1
3  03-07 Weedon Trailer         16AF802CP 2024-05-07         1